@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #F5F7FB;
    --primary: #3FCBFC;
    --primary-100:#1BC4BE;
    --primary-200:#4CBCFB;
    --purple: #80C4EA;
    --purple-100:#86D0FC;
    --gray: #333333;
    --gray-100:#F4F4F4;
    --gray-200:#FAFAFC;
    --gray-300:#737774;
    --gray-400:#md:content-center;
    --orange:#F36E22;
    --orange-100:#D48E70;
    --dark-gunmetal: #1D2935;
    --blue-chalk: #666;
    --soapstone-white: #FCFBFC;
    --blue-lavender: #E3EAFB;
    --white:#ffffff;
    

}

@font-face {
    font-family: 'peyda';
    font-style: normal;
    src: url("/fonts/peyda/Peyda-Medium.ttf") format("truetype");
}

body {
    direction: rtl;
    height: 100vh;
    font-family: 'peyda', serif;
}

.simple-input{
    outline: none;
    
} 

.active{
    color: var(--orange-100);
}